@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Karla';
  src: url('./fonts/Karla-Regular.woff2') format('woff2'),
       url('./fonts//Karla-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Karla', sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
